@import './index.css';

.scheduler-container {
}

.scheduler-table {
  position: relative;
  display: grid;
  /* grid containers */
  position: relative;
  grid-template-areas:
    'day-labels day-labels'
    'timeline layer-container';
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: var(--timeline-width) 1fr;
}

.layer-container {
  grid-area: layer-container;
  position: relative;
}

.timeline {
  grid-area: timeline;
}

.hour {
  position: relative;
  border-bottom: 1px solid #bbb;
}

.hour-label {
}

.day-labels {
  grid-area: day-labels;
}

.labels-container {
  display: flex;
}

.day-column {
  width: 150px;
}

.cells-grid {
  height: 100%;
}

.column {
  display: contents;
  text-align: center;
  /* the child elements would be grid items */
}

.cell {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
}

.cell_header_col {
  padding-right: 5px;
  color: #a0a0a0;
}

.cell_header_header {
  color: #a0a0a0;
  font-weight: bold;
  vertical-align: text-bottom;
}

.sticky-left {
  position: sticky;
  left: 0;
}

.sticky-top {
  position: sticky;
  top: 0;
}
